.playground {
  display: flex;
  flex-flow: column nowrap;
  width: 75vw;
  min-height: 65vh;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 30px;
  max-width: 1280px;
  margin: 5px;
}


.switch {
  order: 1;
}

.codeArea {
  order: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.replTerminal {
  width: 90%;
  height: 90%;
  max-width: 900px;
  overflow: auto;
}

.script {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  max-height: 780px;
}

.textAndTerm {
  font-family: monospace;
  order: 1;
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 90%;
  gap: 5px;
  max-width: 1200px;
  max-height: 780px;
}

.scriptTerminal {
  order: 2;
  width: 50%;
}

.runScriptBtn {
  order: 2;
}

@media all and (max-width: 768px) {
  .textAndTerm {
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .scriptTerminal {
    width: 100%;
    height: 50%;
  }
}
