.textarea {
  order: 1;
  margin: 0px;
  padding: 0px;
  /* padding-top: 15px; */
  /* padding-left: 15px; */
  resize: none;
  width: 50%;
  height: 99%;
}

@media all and (max-width: 768px) {
  .textarea {
    height: 50%;
    width: calc(100% - 4px);
  }
}
