.markdown {
  text-align: left;
  margin-bottom: 5rem;
}

.markdown h2, h3 {
  text-decoration: underline;
}

.markdown code {
  color: #24292e;
  background-color: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 90%;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.markdown pre code {
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  overflow-x: auto;
  line-height: 1.45;
  font-size: 90%;
  border-radius: 6px;
}

.markdown pre {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-bottom: 16px;
}

.collapse {
  max-width: 100%;
}

@media all and (max-width: 900px) {
  .markdown {
    box-sizing: border-box;
  }
  /* .markdown { */
  /*   display: flex; */
  /*   flex-flow: column nowrap; */
  /*   width: 100%; */
  /* } */
  /* .markdown > * { */
  /*   width: 100%; */
  /* } */
  /* todo */
  /* * { */
  /*   width: 100%; */
  /*   max-width: 100%; */
  /* } */
  /**/
  /* .markdown > * { */
  /*   max-width: 100%; */
  /* } */
}
