:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: content-box !important;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 90vh;
}

.active {
  transition: transform 50ms ease-in-out;

  &:active {
    transform: scale(0.8)
  }
}
